table {
  background-color: azure;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}

.note-icon {
  height: 25px;
  width: 25px;
}

.loading-overlay {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loading-overlay:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #373737;
  border-color: #434343 transparent #3c3c3c transparent;
  animation: loading-overlay 1.2s linear infinite;
}
@keyframes loading-overlay {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
